.home-banner{
    display: block;
    position: relative;
}
.home-banner .banner-container{
    position: relative;
}
.home-banner .banner-container .underlay{
    overflow: hidden;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:0;
}
.home-banner .banner-container .underlay img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.home-banner .banner-container .overlay{
    min-height: 100svh;
    position: relative;
    z-index: 20;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-shadow: 0 0 2px rgba(0,0,0,0.7);
    gap:1rem;
}
.home-banner .banner-container .underlay::before{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, var(--c1) 0%, transparent 100%);
    mix-blend-mode: soft-light;
    z-index: 1;
}
.home-banner .banner-container .overlay p{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    line-height: 1.2;
}
.home-banner .banner-container .overlay .h1{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    overflow: hidden;
    white-space: nowrap;
}

.home-banner .banner-container .overlay .subtext{
    width: 100%;
    max-width: 1000px;
    margin:0 auto;
    font-size: 1.5rem;
}
.fodas-container{
    background: #000;
}
.fodas{
    max-width: 1600px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Mondwest', 'Radio', sans-serif;
    color:var(--dark-spring-green);
}
.fodas.author{
    text-transform: uppercase;
    font-size: clamp(1.7rem,5vw,3rem);
    line-height: 1;
    font-weight: 400;
}

.twocl-grid{
    max-width: 1600px;
    margin:0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    align-items: center;
    justify-items: center;
}
.gc-container{
    padding: 0 2rem;
}
.gc-container  .gc-content{
    max-width: 500px;
}
.gc-container  .gc-content p{
    line-height: 1.2;
    margin-bottom:20px;
    font-size:clamp(1rem,2vw,1.3rem);
}
.sk-g{
    background-color: #000;
    border-radius:50%;
    overflow:hidden;
    width:fit-content;
}
.sk-g img{
    display: block;
    position: relative;
    aspect-ratio: 1/1;
    object-fit: cover;
    max-width:500px;
    z-index:1;
}
.about-me{
    background-color: var(--white);
    color:var(--eerie-black);
}
.about-me-title{
    font-size: clamp(4rem,12vw,8rem);
    font-weight: 800;
    text-transform: uppercase;
}
.about-me p{
    padding: 0 2rem 2rem 2rem;
    max-width: 1000px;
    margin:0 auto;
    font-size: 1.1rem;
}
.about-me img{
    display: block;
    max-width: 1000px;
    margin:0 auto;
    margin-bottom: 2rem;
}
.about-me .content{
    padding-top:2rem;
    padding-bottom: 2rem;
}
@media screen and (max-width:720px){
    .sk-g img{
        max-width:300px;
    }
    .twocl-grid{
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 540px){
    .home-banner .banner-container .overlay .h1{
        white-space:wrap;
        height:2.2em;
    }
  }